
<div class="card-container">
  <div class="row">
   <% @cafes.each do |cafe| %>
   <div class="col-4">
    <div class="card" style="width: 18rem;">
      <div class="card-image" style="width: ">
        <%= image_tag "cafe-photos/#{cafe.logo_url}" %>
      </div>
      <div class="card-body">
        <div class="card-title">
          <%= cafe.name  %>
          <div class="card-text">
          <%= cafe.address %>
          <%= cafe.affordability %>
          <%= cafe.rating %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
