<nav class="navbar navbar-light">
  <a class="navbar-brand" href="/">
    <img src="/docs/4.0/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt="">
    København Kaffe
  </a>
  <div class="nav-buttons">
    <% if user_signed_in? %>
    <%= link_to "Favourites <%#&#128525;%>", root_path, :class => 'btn btn-outline-dark'  %>
      <%= link_to "Settings", edit_user_registration_path, :class => 'btn btn-outline-dark' %>
      <%= link_to "Log Out", destroy_user_session_path, method: :delete, :class => 'btn btn-outline-dark' %>
        <% else %>
        <%= link_to "Sign Up", new_user_registration_path, :class => 'btn btn-outline-dark' %>
      <%= link_to "Log In", new_user_session_path, :class => 'btn btn-outline-dark' %>
    <% end %>
  </div>
</nav>
