<!DOCTYPE html>
<html>
  <head>
    <title> København Kaffe </title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/80c504013a.js" crossorigin="anonymous"></script>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application' %>
  </head>

  <body>

    <%= render "layouts/navbar.html.erb" %>

    <% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>

    <%= yield %>

    <%= javascript_pack_tag 'application' %>
     <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>

    <%= render "layouts/footer.html.erb" %>

  </body>
</html>
